<div class="card-container">
    <div class="card">
        <div class="card-left">
        <div class="text-center">
            <h4 class="">Forgot Password</h4>
            <p class="pb-2">Enter your e-mail address, and <br> we'll give you reset instructions.</p>    
        <div class="pb-2">
          <input type="email" id="email" class="text-center" placeholder="Enter e-mail address">
        </div>
        <div>
          <button class="btn btn-primary" placeholder="Send New Password">Send New Password</button>
        </div>
        <div> 
            <label> Back to <a href="#">Login?</a>
            </label>
        </div>
    </div>
        <div class="card-right">
            <div class="grid pb-8">
                <div class="grid-line horizontal top"></div>
            <div class="grid-line horizontal middle"></div>
            <div class="grid-line vertical left"></div>
            <div class="grid-line vertical middle"></div>

                <span class="question-mark">?</span>
                <div class="icon email-icon">
                    <i class="bi bi-envelope"></i>
                </div>
                <div class="icon send-icon">
                    <i class="bi bi-send-fill"></i>
                </div>
                
            </div>    
        </div>
        </div>
    </div>
</div>